$primary: #f7f7f7;
$secondary: #aaa6c3;
$third: rgba(234, 218, 226, 0.9);
$www: #000;
$dark: #393939;
$lightPurple: #95dfde;
$purple: #78bdbc;
$info: rgb(173 185 179);
$tertiary: #adb5bd;
$gray: #a8a8a8;
$red: #9d6673;
$pink: pink;
$navColor: #161617cc;

$primary: #f7f7f7;
$secondary: #aaa6c3;
$static: blue(10px);
$third: #eaeaea;
$dark: #212025;
$info: #666669;
$purple: #8424de;
$lightGray: #f0f0f0;
$whiteOpacity: rgba(247, 247, 247, 0.9);
$darkOpacity: rgba(33, 32, 37, 0.9);
$tertiary: #151030;